<div class="container">
  <header>
    <nav class="navbar navbar-inverse">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">
          <!-- Avec l'expression {{ }} j'affiche le contenu
          de la variable dans l'application (gestion de mes contacts-->
          {{ title }}
        </a>
      </div>
    </nav>
  </header>
  <div class="row">
    <div class="col-sm-4">
      <div>
        <ul class="list-group">
          <li *ngFor="let contact of mesContacts"
              (click)="choisirContact(contact)"
              [class.active]="contact === contactActif"
              class="list-group-item">
              {{ contact.name }}
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="jumbotron" *ngIf="contactActif">
        <h2>
          {{ contactActif.name }}
          <small>{{ contactActif.username }}</small>
        </h2>
        <input type="text" class="form-control"
          [(ngModel)]="contactActif.name">
      </div>
      <div class="jumbotron" *ngIf="!contactActif">
        <span class="glyphicon glyphicon-hand-left"></span>
        <h2>Bienvenue, choisis un contact !</h2>
      </div>
    </div>
  </div>
  <pre>
    {{ mesContacts | json }}
  </pre>

  <!-- 
  16... On émet / On reçoit
  17.   For : Boucle For s'appliq à ttes les lg 
  18.   If : au clic de l'user sur ce contact, lance la fct° choisir contact 
        en indiquant le contact ki a été choisi
  19.   If : Si le contact est celui ki est actif alors lui appliquer 
        le style class.active
  27.   L'un des contacts a été sélectionné
  33.   [(ngModel = c un '2 way data binding'. ngModel est dans l'input, 
        il va savoir que les infos doivent aller dans le name
  41.   <pre = texte préformaté : texte est affiché tel quel, les espaces 
        utilisés dans le document HTML seront retranscrits.
   -->


  <footer class="text-center">
    Copyright &copy; 2018
  </footer>
</div>
