	@import url('https://fonts.google.com/specimen/Merienda');


	/* ---------------------
		INFOS RESPONSIVE

		col-xs	< 768 px		tel				> tout reste en place
		col-sm	768 < > 992 	tablette		> passe sur 1 col en dessous de 768  (= pt de rupture)
		col-md	992 < > 1200	ordi classiq	> passe sur 1 col en dessous de 992  (= pt de rupture)
		col-lg	> 1200 px		Très grd format	> passe sur 1 col en dessous de 1200 (= pt de rupture)

	------------------------ */


	/* ---------------------
		STYLE PAR DEFAUT
	------------------------ */

	.absolute {
		position: absolute;
	}

	h1, h2, h3, h4 {
		color: #2F4073;
		font-family: 'Merienda', cursive;
		font-style: italic;
	}
	
	/* ---------------------
		NAV
	------------------------ */
	h1{
		color: #B9CDFF;
		text-align: left;
		font-size: 16px;
		padding: 15px 0 0 15px;
		margin: 0;
	}
	
	.navbar {
		background: #061339;
		margin-bottom: 0;
	}

	/* ---------------------
		HEADER
	------------------------ */

	.col-xs-12 {
		margin: 0;
		padding: 0;
	}
	.container {
		background-size: cover;
		background-attachment: fixed;
		text-align: center;
		color: #FFF;
		font-style: italic;
	}

	h2 {
		font-size: 23px;
		color: #FFF;
		text-shadow: 2px 2px 2px black;
	}

	#header {
		background: url(../img/background.jpg) repeat;
		background-size: 25%;
		padding: 30px 0;

	}

	/* ---------------------
		SECTION PROJECTEUR
	------------------------ */

	#projecteur {
		padding: 40px 0;
		background-color: rgba(0, 0, 0, 0.05);
	}
	aside {
		margin-top: 20px;
	}
	h3 {
		font-style: italic;
		font-size: 15px;
	}
	h5 {
		color: #061339;
		text-align: left;
		font-size: 12px;
		margin: 0;
		padding: 3px 0 0 0;
		font-weight: bold;
		font-style: normal;
	}
	#inlineFormCustomSelect {
		color: #1E1E1E
	}
	#message {
		margin: 5px 0 0 0;
	}
	.btn-primary {
		background: #1d960a;
		width: 100%;
		padding: 2px 0;
	}

	/* ---------------------
		SECTION NOS CHATS
	------------------------ */
	#nosChats {
		background-color: rgba(0, 0, 0, 0.12);
		margin: 0;
		padding: 20px 0;
	}
	h4 {
		text-align: left;
		font-style: italic;
	}
	p {
		text-align: left;
		color: black;
		font-size: 10px;
	}
	.teteChat {
		background:#7885A5;
		transition-duration: 1s;
		width: 100%;
	}

	.teteChat:hover {
		background: #061339;
	}

	/* ---------------------
		FOOTER
	------------------------ */

	footer {
		padding: 0;
		margin: 0;
	}

	footer p {
		background: #061339;
		margin: 0;
		text-align: right;
		padding: 5px 20px 5px 0;
		color: #FFF;
		font-size: 10px;
	}

	



